[Desktop Entry]
Name=Nvidia
Exec=nvidia-settings
Comment=
Terminal=false
PrefersNonDefaultGPU=false
Icon=/usr/share/icons/nvidia.png
Type=Application
Name[en_US]=settings
