[Desktop Entry]
Name=Nvidia
Exec=nvidia-settings
Comment=
Terminal=false
PrefersNonDefaultGPU=false
Icon=/home/kj/Pictures/pix/nvidia.png
Type=Application
Name[en_US]=settings.desktop
